<h3>Please identify yourself:</h3>

<a href="/admin" class="btn btn-default" role="button">Administrator</a>
<a href="/doctors" class="btn btn-default" role="button">Doctor</a>
<a href="/patient" class="btn btn-default" role="button">Patient</a>
