<!DOCTYPE html>
<html>
<head>
  <title>Code Clinic</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Welcome to the Clinic</h1>
    <%= yield %>
  </div>
</body>
</html>
